<h1>Hello! I'm mustapha.</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ipsa beatae sed? Totam quasi deserunt, cupiditate
     cum aut inventore. Delectus at rem quod, 
     tempore deserunt fugiat? Laudantium aliquam maxime tenetur!</p>


     <div class="header-content">
     <img src="assets/links/github.png" alt="Mustapha's Photo" class="profile-img" />

     <div class="links">
        <a target="_blank" href="https://github.com/mustaphaouadad">
            <img src="assets/links/github.png" alt=>
            <div class="hidden-label">github</div></a>

            <a target="_blank" href="https://github.com/mustaphaouadad">
                <img src="assets/links/github.png" alt=>
                <div class="hidden-label">github</div></a>

                <a target="_blank" href="https://github.com/mustaphaouadad">
                    <img src="assets/links/github.png" alt=>
                    <div class="hidden-label">github</div></a>

                    <a target="_blank" href="https://github.com/mustaphaouadad">
                        <img src="assets/links/github.png" alt=>
                        <div class="hidden-label">github</div></a>

     </div>
    </div>
