


     <div class="header-content">
        <div class="photo">
        <img src="assets/profil/mustapha.jpeg" alt="Mustapha's Photo" class="profile-img" />
    </div>

    <div class="intro">
    <h1>Hello! I'm mustapha.</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ipsa beatae sed? Totam quasi deserunt, cupiditate
     cum aut inventore. Delectus at rem quod, 
     tempore deserunt fugiat? Laudantium aliquam maxime tenetur!</p>


     <div class="links">
        <a target="_blank" href="https://github.com/mustaphaouadad">
            <img src="assets/links/github.png" alt=>
            <div class="hidden-label">github</div></a>

            <a target="_blank" href="https://www.linkedin.com/in/mustapha-ouadad-987b72346/?trk=opento_sprofile_pfeditor">
                <img src="assets/links/linkden.png" alt=>
                <div class="hidden-label">Linkden</div></a>

                <a target="_blank" href="https://www.instagram.com/xenos__xenos/">
                    <img src="assets/links/instagram.jpeg" alt=>
                    <div class="hidden-label">Instagram</div></a>

                    <a target="_blank" href="https://www.facebook.com/mustapha.ouadad">
                        <img src="assets/links/facebook.jpeg" alt=>
                        <div class="hidden-label">Facebook</div></a>

     </div>
    </div>
    </div>
