<nav class="navbar">
    <div class="container">
      <div class="logo">MyPortfolio</div>
      <div class="burger" (click)="toggleMenu()">
        &#9776;
      </div>
      <ul [class.active]="menuOpen" class="nav-links">
        <li><a href="#home">Accueil</a></li>
        <li><a href="#experience">Expérience</a></li>
        <li><a href="#skills">Compétences</a></li>
        <li><a href="#projects">Projets</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="cv.pdf" target="_blank">CV</a></li>
      </ul>
    </div>
  </nav>
  
  
