.navbar {
    background-color: #315162;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
   
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #9DC4DF;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #00bcd4;
  }
  
  .burger {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      flex-direction: column;
      background-color: #21343c;
      display: none;
      padding: 20px 0;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .burger {
      display: block;
    }
  }
  