<section class="dark-section">
    <h2>Experience</h2>
    <div class="jobs">
   <div class="job">
    <h3>Job Title</h3>
    <h4>Company</h4>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Fuga maxime labore nisi cum nam, est harum consectetur 
        ratione. Recusandae a tenetur laborum et, 
        facilis ut ad quae aspernatur consequatur delectus!
    </p>
   </div>

   <div class="job">
    <h3>Job Title</h3>
    <h4>Company</h4>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Fuga maxime labore nisi cum nam, est harum consectetur 
        ratione. Recusandae a tenetur laborum et, 
        facilis ut ad quae aspernatur consequatur delectus!
    </p>
   </div>

</div>
        

</section>
