<section class="dark-section">
    <h2>Experience</h2>
    <div class="jobs">
        <div class="job">
            <h3>Full Stack Web Developer</h3>
            <h4>Freelance / Remote</h4>
            <p>
              Developed and maintained responsive websites and dynamic web applications for various clients using technologies such as Angular, Laravel, PHP, and Java EE.
              Created custom dashboards, user authentication systems, and integrated RESTful APIs. Focused on performance, accessibility, and clean UI/UX designs.
              Collaborated with clients to transform ideas into real-world digital solutions.
            </p>
          </div>
          

          <div class="job">
            <h3>App Developer</h3>
            <h4>Mnara - Morocco</h4>
            <p>
                Developed a fully functional web application for Mnara, a Moroccan company, using Angular and Laravel. The app focused on improving the company's internal operations, streamlining processes, and enhancing user experience.
            </p>
        </div>

</div>
        

</section>
