<section class="dark-section">
    <h2>Projects</h2>
    <div class="project">
        <div>
        <h3>IMissMyCafe (2021 - present)</h3>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Dicta, delectus omnis dignissimos pariatur libero ad sint reiciendis 
            illum maxime voluptate ea doloremque beatae temporibus
            , accusamus dolor a, natus provident optio?</p>

        </div>
        <img src="assets/projects/projet1.png">
    </div>


</section>
