<section class="dark-section">
    <a href="https://github.com/mustaphaouadad/JuryBlanc" class="project-link">
        <section class="project">
            <h2>Projects</h2>
            <div class="project-details">
                <h3>Admin Dashboard (Java EE, JavaScript, JSP, CSS)</h3>
            <p>This project is an admin dashboard application built with Java EE, JavaScript, JSP, and CSS. It provides a user-friendly interface for managing and viewing administrative data, designed for performance and scalability.</p>
            </div>
            <img src="assets/projects/projet1.png" alt="Project Screenshot">
        </section>
    </a>
    

    <a href="https://github.com/mustaphaouadad/Stock_managment" class="project-link">
        <section class="project">
            <h2>Projects2</h2>
            <div class="project-details">
                <h3>Admin Dashboard (Java EE, JavaScript, JSP, CSS)</h3>
            <p>This project is an admin dashboard application built with Java EE, JavaScript, JSP, and CSS. It provides a user-friendly interface for managing and viewing administrative data, designed for performance and scalability.</p>
            </div>
            <img src="assets/projects/projet2.png" alt="Project Screenshot">
        </section>
    </a>


    <a href="https://github.com/mustaphaouadad/SportFlow" class="project-link">
        <section class="project3">
            <h2>Projects</h2>
            <div class="project-details">
                <h3>Admin Dashboard (Java EE, JavaScript, JSP, CSS)</h3>
            <p>This project is an admin dashboard application built with Java EE, JavaScript, JSP, and CSS. It provides a user-friendly interface for managing and viewing administrative data, designed for performance and scalability.</p>
            </div>
            <img class="a" src="assets/projects/projet3.png" alt="Project Screenshot">
        </section>
    </a>


</section>
